<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <title>script/msg.conf.example - The Go Programming Language</title>

<link type="text/css" rel="stylesheet" href="/lib/godoc/style.css">

<script type="text/javascript">window.initFuncs = [];</script>
</head>
<body>

<div id="topbar" class="wide"><div class="container">

<form method="GET" action="/search">
<div id="menu">
<a href="/doc/">Documents</a>
<a href="/pkg/">Packages</a>
<a href="/project/">The Project</a>
<a href="/help/">Help</a>
<a href="/blog/">Blog</a>

<input type="text" id="search" name="q" class="inactive" value="Search" placeholder="Search">
</div>
<div id="heading"><a href="/">The Go Programming Language</a></div>
</form>

</div></div>



<div id="page" class="wide">
<div class="container">


  <div id="plusone"><g:plusone size="small" annotation="none"></g:plusone></div>
  <h1>Text file script/msg.conf.example</h1>




<div id="nav"></div>


<pre><span id="L1" class="ln">     1</span>	#### EMP Config File
<span id="L2" class="ln">     2</span>	#### Version 1
<span id="L3" class="ln">     3</span>	
<span id="L4" class="ln">     4</span>	
<span id="L5" class="ln">     5</span>	# Databases
<span id="L6" class="ln">     6</span>	inventory = &#34;inventory.db&#34;
<span id="L7" class="ln">     7</span>	local     = &#34;local.db&#34;
<span id="L8" class="ln">     8</span>	nodes     = &#34;known_nodes.dat&#34;
<span id="L9" class="ln">     9</span>	
<span id="L10" class="ln">    10</span>	# Network
<span id="L11" class="ln">    11</span>	
<span id="L12" class="ln">    12</span>	# If a backbone node, change to a custom IP (v4 or v6)
<span id="L13" class="ln">    13</span>	# ip = &lt;custom_ip&gt;
<span id="L14" class="ln">    14</span>	ip = &#34;0.0.0.0&#34;
<span id="L15" class="ln">    15</span>	port = 5000
<span id="L16" class="ln">    16</span>	
<span id="L17" class="ln">    17</span>	# Bootstrap Peers
<span id="L18" class="ln">    18</span>	bootstrap = [
<span id="L19" class="ln">    19</span>	  &#34;162.243.175.207:5000&#34;
<span id="L20" class="ln">    20</span>	]
<span id="L21" class="ln">    21</span>	
<span id="L22" class="ln">    22</span>	# RPC
<span id="L23" class="ln">    23</span>	[rpc]
<span id="L24" class="ln">    24</span>	user = &#34;rpcUser&#34;
<span id="L25" class="ln">    25</span>	pass = &#34;rpcPass&#34;
<span id="L26" class="ln">    26</span>	port = 8080
<span id="L27" class="ln">    27</span>	local_client = &#34;client&#34;
</pre><p><a href="/script/msg.conf.example?m=text">View as plain text</a></p>

<div id="footer">
Build version go1.2.<br>
Except as <a href="http://code.google.com/policies.html#restrictions">noted</a>,
the content of this page is licensed under the
Creative Commons Attribution 3.0 License,
and code is licensed under a <a href="/LICENSE">BSD license</a>.<br>
<a href="/doc/tos.html">Terms of Service</a> | 
<a href="http://www.google.com/intl/en/policies/privacy/">Privacy Policy</a>
</div>

</div><!-- .container -->
</div><!-- #page -->

<script type="text/javascript" src="/lib/godoc/jquery.js"></script>

<script type="text/javascript" src="/lib/godoc/godocs.js"></script>

</body>
</html>

